@import url('./hamburger.css');

$divisor: 100;

@function clearUnit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }
  @return $number;
}

@function r($numAndUnit) {
  @if not unitless($numAndUnit) {
    $numAndUnit: clearUnit($numAndUnit);
  }
  @return ($numAndUnit / $divisor) * 1rem;
}

@media (max-width: 900px) {
  @keyframes showMenuPop {
    0% {
      transform: translate(-50%, -80%);
      opacity: 0;
    } 100% {
      transform: translate(-50%, -100%);
      opacity: 1;
    }
  }
  @keyframes showMenuPopLast {
    0% {
      transform: translate(0, -80%);
      opacity: 0;
    } 100% {
      transform: translate(0, -100%);
      opacity: 1;
    }
  }
  @keyframes circleChange {
    0% {
      width: r(90px);
      height: r(90px);
      opacity: 1;
    } 50% {
      width: r(140px);
      height: r(140px);
      opacity: 0;
    } 100% {
      width: r(140px);
      height: r(140px);
      opacity: 0;
    }
  }
  body {
    background-color: #000;
    color: #fff;
    $topLineBoxHeight: r(100px);
    .toast-box div {
      max-width: 90%;
      border-radius: r(100px);
      padding: r(20px) r(40px);
      font-size: r(30px);
    }
    a, button {
      -webkit-tap-highlight-color: transparent;
    }
    .mainBox_max {
      width: r(992px);
      margin-left: auto;
      margin-right: auto;
    }
    .mainBox {
      width: r(938px);
      margin-left: auto;
      margin-right: auto;
    }
    .button {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #E6007A;
      height: r(88px);
      padding: 0 r(30px);
      border-radius: r(100px);
      position: relative;
      left: 0;
      top: 0;
      overflow: hidden;
      &:hover {
        > div {
          left: 110%;
        }
        span {
          border-color: transparent transparent transparent #fff;
        }
      }
      div {
        position: absolute;
        left: -5%;
        top: 0;
        height: 100%;
        width: 120%;
        border-radius: r(100px);
        background-color: #E6007A;
        transform: translateX(-100%);
        transition: left 0.4s;
        z-index: 1;
      }
      p {
        font-family: Avenir-Heavy;
        font-size: r(23px);
        color: #FFFFFF;
        padding-right: r(10px);
        transform: translateY(r(2px));
        position: relative;
        left: 0;
        top: 0;
        z-index: 2;
      }
      span {
        display: block;
        border-color: transparent transparent transparent #E6007A;
        border-style: solid;
        border-width: r(8px) 0 r(8px) r(10px);
        position: relative;
        left: 0;
        top: 0;
        z-index: 2;
      }
    }
    .headBox {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 12;
      width: 100%;
      background-color: #000;
      transition: 0.3s;
      &.up {
        top: r(-58px);
      }
      .topLineBox {
        width: 100%;
        background-color: #ED007E;
        transition: all 0.3s;
        height: $topLineBoxHeight;
        overflow: hidden;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        position: relative;
        left: 0;
        top: 0;
        &.hide {
          height: 0px;
        }
        p {
          width: 100%;
          padding: 0 r(90px);
          text-align: center;
          line-height: 1.4em;
          &, a {
            font-family: Avenir-Heavy;
            color: #FFFFFF;
            font-size: r(30px);
          }
          a {
            text-decoration: underline;
          }
        }
        .closeX {
          position: absolute;
          right: r(20px);
          top: 45%;
          transform: translateY(-50%);
          font-size: r(50px);
          padding: r(20px);
          cursor: pointer;
        }
      }
      .headerTop {
        border-bottom: 1px solid #333;
        height: r(48px);
        .mainBox_max {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          height: 100%;
          button {
            font-family: Avenir-Heavy;
            font-size: r(17px);
            color: #686868;
            &:hover {
              color: #E6007A;
            }
            & + button {
              margin-left: r(30px);
            }
          }
        }
      }
      .header {
        $height: r(150px);
        .mainBox_max {
          height: $height;
          display: flex;
          align-items: center;
          justify-content: space-between;
          position: relative;
          left: 0;
          top: 0;
          z-index: 3;
          .left {
            a {
              img {
                height: r(71px);
                width: auto;
              }
            }
          }
          .headMoreBtnBox {
            position: absolute;
            // right: r(20px);
            right: 0;
            top: 50%;
            z-index: 2;
            transform: translateY(-50%) scale(0.6);
            .hamburger {
              padding: r(20px);
            }
          }
          .right {
            display: flex;
            // align-items: center;
            flex-direction: column;
            position: absolute;
            right: 0;
            top: $height;
            overflow: visible;
            transform: translate(0, 0);
            background-color: #181818;
            padding: r(40px) r(50px);
            display: none;
            button {
              font-family: Avenir-Light;
              color: #FFFFFF;
              // padding: 0 r(24);
              box-sizing: content-box;
              white-space: nowrap;
              font-weight: 400;
              transition: all 0.3s;
              transform-origin: center;
              overflow: visible;
              display: flex;
              $fontSize: r(30px);
              &, & > span, & > a {
                font-size: r(40px);
                line-height: 3em;
              }
              &.menuPopBox {
                flex-direction: column;
                &.show {
                  .pop {
                    height: $fontSize * 3 * 2;
                    &.big {
                      height: $fontSize * 3 * 4;
                    }
                  }
                }
                > span {
                  display: block;
                  width: 100%;
                  text-align: left;
                }
                .pop {
                  // left: r(-50px);
                  // top: 0;
                  position: relative;
                  left: 0;
                  top: 0;
                  width: auto;
                  height: 0;
                  overflow: hidden;
                  transition: all 0.2s;
                  a {
                    display: block;
                    text-align: left;
                    font-size: $fontSize;
                    padding-left: r(40px);
                    line-height: 3em;
                    position: relative;
                    left: 0;
                    top: 0;
                    &::before {
                      position: absolute;
                      left: r(15px);
                      top: 0;
                      content: "";
                      width: 1px;
                      height: 100%;
                      background-color: #444;
                    }
                    &::after {
                      position: absolute;
                      left: r(15px);
                      top: 50%;
                      transform: translateY(-100%);
                      content: "";
                      width: r(14px);
                      height: 1px;
                      background-color: #444;
                    }
                    &:last-child {
                      &::before {
                        height: 50%;
                      }
                    }
                  }
                }
              }
              // justify-content: center;
              // & + button {
              //   margin-top: r(50px);
              // }
              &.active {
                color: #ED007E;
                // transform: scale(1.16);
                font-weight: 800;
              }
            }
            .flagLine {
              display: none;
              position: absolute;
              left: 0;
              bottom: r(-20px);
              height: r(3px);
              width: 0;
              transition: all 0.5s;
              &::after {
                content: "";
                display: block;
                height: 100%;
                width: 80%;
                margin: 0 auto;
                background: #ED007E;
              }
            }
          }
        }
      }
    }
    .bgAnimate {
      position: absolute;
      left: 0;
      top: r(270px);
      width: 100%;
      height: calc(100vh);
      overflow: hidden;
      z-index: -1;
    }
    .banner {
      // margin-top: r(30px);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-top: r(400px) + $topLineBoxHeight;
      box-sizing: border-box;
      min-height: 90vh;
      transition: padding-top 0.3s;
      &.hideTopBar {
        padding-top: r(400px);
      }
      img {
        height: r(164px);
      }
      h3 {
        font-family: Avenir-Heavy;
        font-size: r(65px);
        color: #FFFFFF;
        width: 76%;
        line-height: 1.23em;
      }
      .text {
        padding-top: r(53px);
        color: #fff;
        font-size: r(34px);
        width: 70%;
        p {
          line-height: 1.6em;
          font-family: Avenir-Book;
          display: inline-block;
        }
      }
      .btn {
        margin-top: r(50px);
        display: flex;
        align-items: center;
        .btnBox {
          width: r(90px);
          height: r(90px);
          position: relative;
          left: 0;
          top: 0;
          z-index: 1;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: r(30px);
          &:active {
            > div {
              transform: translate(-50%, -50%) scale(1.1);
            }
          }
          > div {
            background-color: #ED007E;
            border-radius: 50%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: r(90px);
            height: r(90px);
            z-index: 2;
            transition: transform 0.3s ease-out;
          }
          > span {
            position: relative;
            left: 0;
            top: 0;
            z-index: 2;
            display: block;
            width: 3;
            top: 0;
            border-style: solid;
            border-color: transparent transparent transparent #fff;
            border-width: r(12px) 0 r(12px) r(18px);
            transform: translateX(r(3px));
          }
          > b {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            border: r(5px) solid #aaa;
            animation: circleChange 3s infinite ease-out;
            z-index: 1;
          }
        }
        p {
          font-size: r(40px);
          align-items: center;
          color: #ED007E;
        }
      }
    }
    .technology {
      padding-top: r(100px);
      padding-bottom: r(20px);
      .mainBox_max {
        width: r(938px);
        display: flex;
        flex-direction: column;
        align-items: center;
        background-size: 66.6% auto;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('../imgs/architect_bg.png');
        .row {
          display: flex;
          margin-bottom: r(120px);
          flex-direction: column;
          .technologyTitle {
            flex: none;
            width: 33%;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-items: center;
            span, p {
              font-family: Avenir-Black;
              font-size: r(72px);
              color: #FFFFFF;
              line-height: r(54px);
              line-height: 1.1em;
            }
            span {
              color: #E6007A;
            }
          }
          .titleTip {
            font-size: r(38px);
            color: #FFFFFF;
            padding-top: r(46px);
            p {
              line-height: 1.6em;
              font-family: Avenir-Book;
            }
          }
        }
        .items {
          // width: r(880px);
          margin: 0 auto;
          position: relative;
          left: 0;
          top: 0;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          margin-bottom: r(78px);
          .item {
            width: 100%;
            height: r(402px);
            box-sizing: border-box;
            background-image: linear-gradient(90deg, #1F1F1F 0%, #000000 100%);
            $borderRadius: r(12px);
            border-radius: $borderRadius;
            padding: r(75px) r(36px) 0 r(272px);
            position: relative;
            left: 0;
            top: 0;
            overflow: hidden;
            &::before {
              position: absolute;
              left: 0;
              top: 0;
              content: "";
              width: 100%;
              height: 100%;
              opacity: 0;
              z-index: 0;
              transition: opacity 0.5s ease;
              background-image: linear-gradient(-30deg, #F400B2 0%, #E6007A 100%);
              border-radius: $borderRadius;
            }
            &:hover {
              &:before {
                opacity: 1;
              }
              img {
                &:nth-child(1) {
                  opacity: 0;
                }
                &:nth-child(2) {
                  opacity: 1;
                }
              }
              .text {
                b {
                  color: #fff;
                }
                .cercleIco {
                  border-color: #fff;
                  > span {
                    display: block;
                    background-color: #fff;
                  }
                }
              }
            }
            &:not(:first-child) {
              margin-top: r(33px);
            }
            img {
              position: absolute;
              left: 0;
              bottom: 0;
              height: r(200px);
              transition: all 0.5s;
              &:nth-child(1) {
                opacity: 1;
              }
              &:nth-child(2) {
                opacity: 0;
              }
            }
            .text {
              font-family: Avenir-Book;
              font-size: r(30px);
              color: #FFFFFF;
              line-height: 1.67em;
              position: relative;
              left: 0;
              top: 0;
              b {
                font-family: Avenir-Black;
                color: #E6007A;
              }
              .cercleIco {
                position: absolute;
                left: r(-35px);
                top: r(4px);
                transform: translateX(-100%);
                border: r(1px) solid #E6007A;
                width: r(32px);
                height: r(32px);
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                > span {
                  display: block;
                  background-color: #E6007A;
                  width: r(20px);
                  height: r(20px);
                  border-radius: 50%;
                }
              }
            }
          }
          .crossLine {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            $width: r(54px);
            z-index: 2;
            > div {
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
              background-color: #E6007A;
            }
            .cross {
              width: $width;
              height: 1px;
            }
            .vertical {
              height: $width;
              width: 1px;
            }
          }
        }
        .button {
          padding: 0 r(50px);
          p {
            font-size: r(40px);
            padding-right: r(20px);
            transform: translateY(r(6px));
          }
          span {
            border-width: r(16px) 0 r(16px) r(24px);
            transform: translateY(r(3px));
          }
        }
      }
    }
    .dataOracle {
      position: relative;
      left: 0;
      top: 0;
      padding-top: r(180px);
      padding-bottom: r(250px);
      .lineBox {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        overflow: hidden;
        display: none;
        .minLine {
          position: absolute;
          z-index: 1;
          transform: rotate(-40deg);
          width: r(300px);
          height: 1px;
          background-color: #F400B0;
          &.line_1 {
            left: 0;
            bottom: 0;
            top: r(1100px);
            transform-origin: left bottom;
          }
          &.line_2 {
            left: r(250px);
            top: r(1100px);
            transform-origin: left bottom;
          }
          &.line_3 {
            right: 0;
            top: 0;
            width: r(200px);
            transform-origin: right top;
          }
          &.line_4 {
            right: r(250px);
            top: r(50px);
            transform-origin: right top;
          }
        }
      }
      .mainBox_max {
        width: r(938px);
        .dataOracleTitle {
          display: flex;
          align-items: center;
          // justify-content: center;
          font-family: Avenir-Black;
          font-size: r(72px);
          color: #FFFFFF;
          margin-bottom: r(101px);
          span {
            color: #E6007A;
            padding-left: r(10px);
          }
        }
        .dataOracleBanner {
          position: relative;
          left: 0;
          top: 0;
          width: r(938px);
          z-index: 2;
          display: flex;
          flex-direction: column;
          padding: r(71px) r(80px) r(65px);
          box-sizing: border-box;
          background-image: linear-gradient(-30deg, #F400B2 0%, #E6007A 100%);
          // background-position: right center, center;
          // background-repeat: no-repeat;
          border-radius: r(20px);
          margin-bottom: r(100px);
          &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: r(20px);
            left: r(25px);
            top: r(40px);
            z-index: 0;
            opacity: 0.24;
            background-image: linear-gradient(-30deg, #F400B2 0%, #E6007A 100%);
          }
          // .cercleBox {
          //   position: absolute;
          //   left: 0;
          //   top: 0;
          //   width: 100%;
          //   height: 100%;
          //   z-index: 0;
          //   overflow: hidden;
          //   &::before {
          //     position: absolute;
          //     content: "";
          //     left: r(-50px);
          //     bottom: r(-40px);
          //     background-color: rgba(0,0,0,0.06);
          //     width: r(290px);
          //     height: r(290px);
          //     border-radius: 50%;
          //   }
          // }
          .left {
            position: relative;
            left: 0;
            top: 0;
            z-index: 3;
            width: r(692px);
            margin: 0 auto;
            p {
              // font-family: Lobster;
              font-family: Avenir-Medium;
              font-size: r(42px);
              color: #FFFFFF;
              line-height: 1.4em;
              // text-align: center;
            }
          }
          .right {
            display: flex;
            flex: none;
            // margin-top: -r(0px);
            position: relative;
            left: 0;
            top: 0;
            z-index: 3;
            align-items: flex-end;
            justify-content: space-between;
            margin-top: r(55px);
            .box {
              display: flex;
              flex-direction: column;
              justify-content: flex-end;
              align-items: center;
              flex: none;
              height: max-content;
              height: 100%;
              img {
                width: r(200px);
                height: auto;
                flex: none;
              }
              .button {
                border: 1px solid #fff;
                flex: none;
                width: max-content;
                padding: 0 r(24px);
                border: none;
                &:active {
                  > div {
                    background-color: #000;
                  }
                  p {
                    color: #fff;
                  }
                }
                div {
                  background-color: #fff;
                  transition: none;
                  left: 110%;
                  transition: all 0.3s;
                }
                p {
                  font-family: Avenir-Medium;
                  font-size: r(32px);
                  color: #F0009E;
                  transition: all 0.3s;
                }
                span {
                  display: none;
                }
              }
            }
          }
        }
        .mulRow {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          .minBox {
            flex: none;
            width: r(431px);
            box-sizing: border-box;
            margin-bottom: r(120px);
            &:nth-child(2n) {
              transform: translateY(50%);
            }
            img {
              height: r(95px);
              margin-bottom: r(43px);
            }
            h6 {
              font-family: Avenir-Black;
              font-size: r(46px);
              color: #FFFFFF;
              line-height: 1.5em;
              padding-bottom: r(18px);
            }
            p {
              font-family: Avenir-Book;
              font-size: r(30px);
              color: #FFFFFF;
              line-height: 1.57em;
            }
          }
        }
      }
    }
    .economics {
      padding-top: r(100px);
      .mainBox {
        background-size: 70% auto;
        align-items: center;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('../imgs/economics_bg.png');
        .titleBox {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          padding-bottom: r(106px);
          .economicsTitle {
            display: flex;
            align-items: flex-end;
            font-size: r(72px);
            color: #FFFFFF;
            flex-direction: column;
            span, p {
              font-family: Avenir-Black;
              line-height: 1.1em;
            }
            p {
              color: #E6007A;
            }
          }
          > p {
            padding-top: r(41px);
            width: r(786px);
            font-family: Avenir-Book;
            font-size: r(38px);
            color: #FFFFFF;
            text-align: right;
            line-height: 1.5em;
          }
        }
        .rowList {
          display: flex;
          align-items: center;
          flex-direction: column;
          > div {
            flex: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            & + div {
              margin-top: r(120px);
            }
            > img {
              height: r(210px);
              width: auto;
              flex: none;
            }
            h6 {
              font-family: Avenir-Black;
              font-size: r(42px);
              color: #FFFFFF;
              line-height: 1.36em;
              text-align: center;
              margin: r(50px) 0 r(20px);
            }
            p {
              font-family: Avenir-Book;
              font-size: r(30px);
              color: #FFFFFF;
              text-align: center;
              line-height: 1.47em;
              width: r(750px);
            }
          }
        }
      }
    }
    .application {
      padding-top: r(300px);
      .mainBox_max {
        .bgBox {
          padding-bottom: r(100px);
          div {
            display: flex;
            flex-direction: column;
            span, p {
              font-size: r(72px);
              font-family: Avenir-Black;
              line-height: 1.1em;
            }
            p {
              color: #E6007A;
            }
          }
        }
        .list {
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-wrap: wrap;
          .item {
            width: r(485px);
            height: r(660px);
            box-sizing: border-box;
            background: #181818;
            position: relative;
            left: 0;
            top: 0;
            z-index: 1;
            border-radius: r(8px);
            margin-bottom: r(32px);
            &::before {
              position: absolute;
              left: 0;
              top: 0;
              content: "";
              width: 100%;
              height: 100%;
              opacity: 0;
              z-index: 1;
              border-radius: r(8px);
              transition: opacity 0.5s ease;
              background-image: linear-gradient(-30deg, #F400B2 0%, #E6007A 100%);
            }
            &.active::before {
              opacity: 1;
            }
            .title {
              position: relative;
              left: 0;
              top: 0;
              z-index: 2;
              padding: r(53px) r(42px) 0;
              img {
                height: r(60px);
                width: auto;
                margin-bottom: r(28px);
              }
              h5 {
                font-family: Avenir-Black;
                font-size: r(34px);
                color: #FFFFFF;
                line-height: 1.5em;
                height: r(140px);
              }
            }
            p {
              position: relative;
              left: 0;
              top: 0;
              z-index: 2;
              padding: 0 r(40px) 0;
              font-family: Avenir-Book;
              font-size: r(26px);
              color: #FFFFFF;
              line-height: 1.58em;
            }
          }
        }
      }
    }
    .team {
      overflow: hidden;
      .mainBox_max {
        width: r(938px);
        padding: r(230px) 0 0;
        position: relative;
        left: 0;
        top: 0;
        > .teamCercle {
          position: absolute;
          height: auto;
          z-index: -1;
          opacity: 0.41;
          background-image: linear-gradient(145deg, #E6007A 0%, #000000 58%);
          border-radius: 50%;
          &.teamCercle_1 {
            $width: r(600px);
            width: $width;
            height: $width;
            left: -15%;
            top: 12%;
            opacity: 0.3;
          }
          &.teamCercle_2 {
            $width: r(280px);
            width: $width;
            height: $width;
            right: 0%;
            top: 8%;
            opacity: 0.2;
          }
          &.teamCercle_3 {
            $width: r(500px);
            width: $width;
            height: $width;
            right: -10%;
            bottom: -15%;
            opacity: 0.2;
          }
        }
        .title {
          margin-bottom: r(240px);
          display: flex;
          flex-direction: column;
          // align-items: center;
          h5 {
            font-family: Avenir-Black;
            font-size: r(72px);
            width: r(600px);
            color: #FFFFFF;
            position: relative;
            left: 0;
            top: 0;
            z-index: 1;
            &::before {
              position: absolute;
              left: -5%;
              top: -20%;
              z-index: 1;
              content: "";
              width: r(84px);
              height: r(84px);
              background-color: #E6007A;
              border-radius: 50%;
              z-index: -1;
            }
          }
          p {
            font-family: Avenir-Book;
            font-size: r(32px);
            color: #B4B4B4;
            line-height: 1.47em;
            padding-top: r(40px);
            b {
              color: #bfbfbf;
            }
          }
        }
        .list {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          .item {
            flex: none;
            // width: r(470px);
            width: 100%;
            // height: r(700px);
            padding-bottom: r(80px);
            box-sizing: border-box;
            margin-bottom: r(205px);
            background: #181818;
            border-radius: r(8px);
            display: flex;
            flex-direction: column;
            align-items: center;
            > img {
              height: r(236px);
              width: auto;
              margin-top: r(-118px);
            }
            .minTitleBox {
              display: flex;
              align-items: center;
              padding: r(48px) 0 r(60px);
              h5 {
                font-family: Avenir-Heavy;
                font-size: r(44px);
                color: #FFFFFF;
                white-space: nowrap;
                margin-right: r(30px);
                position: relative;
                left: 0;
                top: 0;
                &::after {
                  position: absolute;
                  left: 50%;
                  transform: translateX(-50%);
                  bottom: r(-30px);
                  height: 1px;
                  width: r(80px);
                  content: "";
                  background-color: #4B4B4B;
                }
              }
              a {
                &:hover > img {
                  &:nth-child(1) {
                    display: none;
                  }
                  &:nth-child(2) {
                    display: block;
                  }
                }
                > img {
                  width: r(58px);
                  height: auto;
                  &:nth-child(1) {
                    display: block;
                  }
                  &:nth-child(2) {
                    display: none;
                  }
                }
              }
            }
            p {
              font-family: Avenir-Book;
              font-size: r(32px);
              color: #B4B4B4;
              line-height: 1.47em;
              padding : 0 r(50px);
            }
          }
        }
      }
    }
    .partners {
      .mainBox {
        display: flex;
        flex-direction: column;
        align-items: center;
        .titleBox {
          position: relative;
          left: 0;
          top: 0;
          z-index: 1;
          margin-bottom: r(50px);
          &::before {
            position: absolute;
            right: -20%;
            top: -30%;
            z-index: 1;
            content: "";
            width: r(60px);
            height: r(60px);
            background-color: #E6007A;
            border-radius: 50%;
          }
          h5 {
            font-family: Avenir-Black;
            font-size: r(44px);
            color: #FFFFFF;
            position: relative;
            left: 0;
            top: 0;
            z-index: 2;
          }
        }
        .list {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%; 
          padding-bottom: r(230px);
          .item {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            > img {
              height: r(40px);
              width: auto;
            }
            > p {
              padding-top: r(30px);
              white-space: nowrap;
            }
          }
        }
      }
    }

    .investors {
      padding-top: r(80px);
      .mainBox {
        padding-bottom: r(150px);
        display: flex;
        flex-direction: column;
        align-items: center;
        .titleBox {
          position: relative;
          left: 0;
          top: 0;
          z-index: 1;
          margin-bottom: r(142px);
          display: inline-block;
          &::before {
            position: absolute;
            left: -5%;
            top: -30%;
            z-index: 1;
            content: "";
            width: r(84px);
            height: r(84px);
            background-color: #E6007A;
            border-radius: 50%;
          }
          h5 {
            font-family: Avenir-Black;
            font-size: r(72px);
            color: #FFFFFF;
            position: relative;
            left: 0;
            top: 0;
            z-index: 2;
          }
        }
        .imgBox {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          .row {
            display: flex;
            align-items: center;
            width: 100%;
            & + .row {
              margin-top: r(100px);
            }
            span {
              flex: none;
              width: 20%;
              display: flex;
              align-items: center;
              justify-content: center;
              > img {
                width: auto;
                flex: none;
                height: r(49px);
              }
            }
          }
        }
      }
    }
    .media {
      padding-top: r(80px);
      .mainBox {
        padding-bottom: r(150px);
        display: flex;
        flex-direction: column;
        align-items: center;
        .titleBox {
          position: relative;
          left: 0;
          top: 0;
          z-index: 1;
          margin-bottom: r(142px);
          display: inline-block;
          &::before {
            position: absolute;
            left: -10%;
            top: -30%;
            z-index: 1;
            content: "";
            width: r(84px);
            height: r(84px);
            background-color: #E6007A;
            border-radius: 50%;
          }
          h5 {
            font-family: Avenir-Black;
            font-size: r(72px);
            color: #FFFFFF;
            position: relative;
            left: 0;
            top: 0;
            z-index: 2;
          }
        }
        .imgBox {
          display: flex;
          flex-direction: column;
          align-items: center;
          .row {
            display: flex;
            align-items: center;
            width: 100%;
            & + .row {
              margin-top: r(100px);
            }
            > img {
              width: auto;
              flex: none;
              height: r(40px);
              & + img {
                margin-left: r(100px);
              }
            }
          }
        }
      }
    }
    .roadMap {
      padding-top: r(100px);
      .mainBox {
        padding-bottom: r(113px);
        .titleBox {
          position: relative;
          left: 0;
          top: 0;
          z-index: 1;
          margin-bottom: r(142px);
          display: inline-block;
          &::before {
            position: absolute;
            left: -10%;
            top: -30%;
            z-index: 1;
            content: "";
            width: r(84px);
            height: r(84px);
            background-color: #E6007A;
            border-radius: 50%;
          }
          h5 {
            font-family: Avenir-Black;
            font-size: r(72px);
            color: #FFFFFF;
            position: relative;
            left: 0;
            top: 0;
            z-index: 2;
          }
        }
        .main {
          width: 100%;
          padding-bottom: r(50px);
          .mainCon {
            width: max-content;
            display: flex;
            justify-content: space-between;
            width: 100%;
            .list {
              display: flex;
              position: relative;
              flex-direction: column;
              left: 0;
              top: 0;
              padding-top: r(20px);
              &:not(.next) {
                align-items: flex-end;
                .item {
                  text-align: right;
                }
              }
              &.next {
                padding-top: r(200px);
              }
              .item {
                width: r(360px);
                box-sizing: content-box;
                flex: none;
                & + .item {
                  padding-top: r(200px);
                }
                .date {
                  font-family: Avenir-Heavy;
                  font-size: r(40px);
                  color: #E6007A;
                  line-height: 1.43em;
                  padding-bottom: r(20px);
                }
                .text {
                  font-family: Avenir-Medium;
                  font-size: r(36px);
                  color: #FFFFFF;
                  line-height: 1.47em;
                }
              }
            }
            .curve {
              flex: 1;
              width: r(100px);
              height: 100%!important;
              // border: 1px solid #444;
              // margin: 0;
              display: block;
              position: relative;
              left: 0;
              top: 0;
              // overflow: hidden;
              canvas {
                position: absolute;
                left: 0;
                top: 0;
                transform: scale(0.5, 0.5) rotate(90deg) translateY(-100%);
                transform-origin: top left;
              }
            }
          }
        }
      }
    }
    .subscribe {
      padding-top: r(50px);
      > p {
        text-align: center;
        font-family: Avenir-Book;
        font-size: r(30px);
        padding-bottom: r(80px);
      }
      .mainBox {
        display: flex;
        align-items: center;
        justify-content: center;
        height: r(100px);
        .subscribeInp {
          width: r(600px);
          height: 100%;
          font-family: Avenir-Medium;
          font-size: r(34px);
          color: #FFFFFF;
          box-sizing: border-box;
          padding-left: r(30px);
          background: #363636;
          border-radius: r(100px);
          border: none;
        }
        .subscribeBtn {
          margin-left: r(40px);
          height: 100%;
          padding: 0 r(50px);
          display: flex;
          align-items: center;
          justify-content: center;
          font-family: Avenir-Medium;
          font-size: r(34px);
          color: #FFFFFF;
          background-image: linear-gradient(-30deg, #F400B2 0%, #E6007A 100%);
          border-radius: r(100px);
          transition: box-shadow 0.3s;
          &:active {
            box-shadow: inset 0 0 r(100px) 0 rgba(255,255,255,0.3);
          }
        }
      }
    }
    .gradual {
      height: r(300px);
      opacity: 0.16;
      background-image: linear-gradient(180deg, #000000 0%, #E6007A 100%);
    }
    .footer {
      .mainBox_max {
        width: r(900px);
        height: r(600px);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .left {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          > img {
            height: r(80px);
            width: auto;
          }
          p {
            opacity: 0.56;
            font-family: Avenir-Book;
            font-size: r(16px);
            color: #FFFFFF;
            padding: r(30px) 0 r(60px);
          }
          .linkList {
            width: 80%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .item {
              width: r(80px);
              height: r(80px);
              border-radius: 50%;
              border: 1px solid #E6007A;
              display: flex;
              align-items: center;
              justify-content: center;
              // & + .item {
              //   margin-left: r(40px);
              // }
              &:hover {
                background-color: #E6007A;
              }
              img {
                height: r(30px);
                width: auto;
              }
            }
          }
        }
        .right {
          display: flex;
          align-items: center;
          button {
            font-family: Avenir-Medium;
            font-size: r(35px);
            color: #FFFFFF;
            padding-top: r(50px);
            &:not(.menuPopBox):hover {
              color: #ED007E;
            }
            & + button {
              margin-left: r(60px);
            }
            &:last-child.menuPopBox {
              .pop {
                left: auto;
                right: 0;
                transform: translate(0, 100%);
              }
              &.show {
                .pop {
                  animation: showMenuPopLast 0.5s forwards;
                }
              }
            }
            &.menuPopBox {
              position: relative;
              left: 0;
              top: 0;
              display: flex;
              align-items: center;
              height: 100%;
              &.show {
                > span {
                  color: #ED007E;
                }
                > b {
                  border-top-color:  #ED007E;
                  transform: translateY(r(3px)) rotate(-90deg);
                }
                .pop {
                  display: block;
                  animation: showMenuPop 0.5s forwards;
                }
              }
              > b {
                display: block;
                width: 0;
                height: 0;
                border-width: r(8px) r(5px) 0 r(5px);
                border-color: #fff transparent transparent transparent;
                border-style: solid;
                margin-left: r(10px);
                transform: translateY(r(3px));
                transition: transform 0.5s;
                // transform-origin: left 80%;
              }
              .pop {
                position: absolute;
                left: 50%;
                top: r(20px);
                transform: translate(-50%, 100%);
                background-color: #222;
                width: r(300px);
                border-radius: r(4px);
                padding: r(20px) 0;
                display: none;
                opacity: 0;
                > a {
                  font-size: r(32px);
                  display: block;
                  text-align: center;
                  line-height: 3em;
                  &:active {
                    color: #ED007E;
                  }
                }
              }
            }
          }
        }
      }
    }
    .tipBox {
      position: fixed;
      left: 0;
      bottom: 0;
      height: r(100px);
      width: 100%;
      z-index: 15;
      background-color: #fff;
      opacity: 1;
      transition: opacity 1s;
      color: #000;
      &.opacity0 {
        opacity: 0;
        z-index: -1;
      }
      .close {
        position: absolute;
        top: 50%;
        right: r(20px);
        transform: translateY(-50%);
      }
    }
    .popPage {
      position: fixed;
      width: 100vw;
      height: 100vh;
      z-index: 50;
      display: none;
      left: 0;
      top: 0;
      align-items: center;
      &.active {
        display: flex;
      }
      .shadow {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 1;
        background-color: rgba(0,0,0,0.9);
      }
      .box {
        position: relative;
        left: 0;
        top: 0;
        z-index: 2;
        width: r(1000px);
        margin: 0 auto;
        .close {
          position: absolute;
          right: 0;
          top: r(-10px);
          transform: translate(0, -100%);
          width: r(70px);
          height: r(70px);
          cursor: pointer;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: background-color 0.3s;
          &:hover {
            svg {
              path {
                fill: #fff;
              }
            }
          }
          svg {
            width: r(50px);
            height: r(50px);
            path {
              fill: #888;
              transition: fill 0.3s;
            }
          }
        }
        > video {
          width: 100%;
          height: auto;
          box-shadow: 0 0 r(10px) 0 rgba(255,255,255,0.4);
        }
      }
    }
  }
}